<mat-card class="timerCard">
  <mat-card-header>
    <mat-icon mat-card-avatar class="timerHeaderIcon">timer</mat-icon>
    <mat-card-title>Starting Timer for</mat-card-title>
    <mat-card-subtitle>{{ timeInMinutes }} min</mat-card-subtitle>
    <span class="countdown">{{ countdown }}</span>
  </mat-card-header>
  <mat-card-content>
    <span>Choose new Timer: </span>
    <div class="timerCardContent">
      <button mat-button *ngFor="let item of items" class="timerCardContent_button" (click)="changeTime(item)">
      	{{ item }} min
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="buttonContainer">
      <button mat-icon-button (click)="startTimer(timeInMinutes)">
        Start
        <mat-icon>timelapse</mat-icon>
      </button>
      <button mat-icon-button (click)="stopTimer()">
        Stop
      <mat-icon>timer_off</mat-icon>
      </button>
      <button mat-icon-button (click)="clearTimer()">
        Clear
      <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button (click)="removeTimer(index)">
        Delete
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
